[submodule "bin/powerline"]
	path = bin/powerline
	url = git@github.com:Lokaltog/powerline.git
	branch = develop
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
    url = git@github.com:gmarik/vundle.git
	branch = master
[submodule ".bash_it"]
    path = .bash_it
    url = git@github.com:zzsnzmn/bash-it.git
    branch = master
